@{
    Layout =null;
}

<!DOCTYPE html>
<html ng-app="NsCommerceApp">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <title>contoso.com</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    @*<div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
           
            <div class="navbar-header">
                <span style="font-size:30px;cursor:pointer" onclick="openNav()">&#9776; open</span>
                @Html.ActionLink("Application name", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            
        </div>
    </div>*@
    <toaster-container toaster-options="{'time-out': 3000, 'close-button':true}"></toaster-container>

    <div class="navbar navbar-inverse navbar-fixed-top">
      
       
       

     
        <div class="row" id="headerline1">
            <div class="col-lg-2 col-md-2 col-sm-3 col-xs-3 cartdiv" style="text-align:center; padding-left: 20px; ">
                <span class="glyphicon glyphicon glyphicon-arrow-left" id="backbutton" style="display:none;     font-size: 20px;"></span>
                <button type="button" class="navbar-toggle" onclick="openNav()" style="float:none; padding:0;    padding-left: 3px;margin:0; display:inline !important;">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div> 
            <div class="col-lg-1 col-md-2 col-sm-6 col-xs-6 nbranddiv">
             <a href="#" class="navbar-brand" >contoso.com</a>
            </div>

            <div class="col-lg-7 col-md-7 visible-md visible-lg" style="padding-left: 30px;">

                <div class="input-group" style="margin-top: 8px;">
                    <input type="text" class="form-control" placeholder="Search in contoso.com" style="border-color: #2c353f;background-color: #2c353f; color: #ffffff; max-width: 2000px;font-size: 18px;">
                    <span class="input-group-btn">
                        <button class="btn btn-secondary" type="button" style="background-color: #4f667d;  border-color: #2c353f; color: #ffffff;">Go!</button>
                    </span>
                </div>
               

            </div>

            <div class="col-sm-1 col-xs-1 visible-sm visible-xs cartdiv">
           
                <span class="glyphicon glyphicon-search" style="padding-right: 5px;" id="searc-icon"></span>
                 
               
               
            </div>

            <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 cartdiv">

                <span class="glyphicon glyphicon-shopping-cart" style="padding-right: 5px;"></span>
            </div>


          
        </div>

  


        </div>

 
    <div class="navbar navbar-inverse navbar-fixed-top visible-sm visible-xs" id="search-box" style="display:none !important;">
        <div class="row" id="headerline2" >

            <div class="col-sm-1 col-xs-1">
                <span class="glyphicon glyphicon glyphicon-arrow-left" id="backbutton-search" style="color: #fff;
    font-size: 20px;
    margin-left: 5px;
    margin-top: 11px;
    "></span>
            </div>
            <div class="col-sm-10 col-xs-10" style="float: right;
    margin-right: 5px;padding-left: 0px;">


                <div class="input-group">

                    <input type="text" class="form-control" id="mobsearch" placeholder="Search in contoso.com" style="font-size: 18px;border-color: #2c353f;background-color: #2c353f;color: #ffffff;max-width: 2000px;padding-top: 7px;height: 40px;margin-top: 6px;">
                    <span class="input-group-btn">
                        <button class="btn btn-secondary" type="button" style="background-color: #4f667d;border-color: #2c353f;color: #ffffff;height: 40px;margin-top: 6px;/* width: 46px; */">Go!</button>
                    </span>

                </div>
            </div>
        </div>
    </div>
        @*@RenderBody()*@


        <div id="sidnavWrapper" class="sidnavWrapper" onclick="closeNav()">
        </div>
        <div id="mySidenav" class="sidenav ng-enter-menu">
            @*<a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>*@

            <div class="row" style="height:50px;background-color:#2c353f" id="profile-btn">
                <a href="#" class="sidenav-m-profile">Hello, Abdul <span class="glyphicon glyphicon-cog" style="float: right;"></span></a>
            </div>
            <div class="row menu-tab account-tab ng-enter">
               
                <a href="#" class="go-back sidenav-m-goback"><span class="glyphicon glyphicon-chevron-left"></span> Back To Menu</a>
                <a href="#" class="sidenav-m-head">PROFILE</a>

                <a href="#"  class="sidenav-m-item">My Orders</a>
                <a href="#"  class="sidenav-m-item">Payment Types</a>
                <a href="#"  class="sidenav-m-item">Account</a>
                <a href="#"  class="sidenav-m-item">Addresses</a>

             
            </div>
            <div class="row menu-tab category-tab">
              
                <a href="#" class="sidenav-m-head">CATEGORIES</a>
                <a href="#" class="sidenav-m-item">Fashion For Men <span class="glyphicon glyphicon-chevron-right side-m-right-arrow"></span></a>               

                <a href="#"  class="sidenav-m-item">Fashion For Women</a>
                <a href="/product/list" class="sidenav-m-item">Kids & Baby </a>
                <a href="#"  class="sidenav-m-item">Electronics</a>
                <a href="#"  class="sidenav-m-item">Books & Media</a>
                

            </div>
        
        </div>

        <div id="main">

            <div ng-view class="ng-enter"></div>

        </div>

        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year contoso.com</p>
        </footer>




        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")

        @Scripts.Render("~/bundles/angular")
        @Scripts.Render("~/bundles/app")



        <script>
            function openNav() {

                $('.menu-tab').hide();
                $('.category-tab').show();

                //$('#mySidenav').show();
               document.getElementById("mySidenav").style.width = "250px";
                document.getElementById("sidnavWrapper").style.width = "100%";
            }

            function closeNav() {

                $('.menu-tab').hide();
                $('.category-tab').show();
                //$('#mySidenav').hide();
                document.getElementById("mySidenav").style.width = "0";
                document.getElementById("sidnavWrapper").style.width = "0%";
            }

            $(function () {
                $('.sidenav-m-item').click(function () {
                    document.getElementById("mySidenav").style.width = "0";
                    document.getElementById("sidnavWrapper").style.width = "0%";
                });

                $('#backbutton').click(function () {
                    history.back();
                });


                $('#searc-icon').click(function () {
                    $('#search-box').show();
                    $('#mobsearch').val('');
                    $('#mobsearch').focus();
                });

                $('#backbutton-search').click(function () {
                    $('#search-box').attr("style","display:none !important");
                });

                $('#profile-btn').click(function () {
                    $('.menu-tab').hide();
                    $('.account-tab').show();
                });

                $('.go-back').click(function () {
                    $('.menu-tab').hide();
                    $('.category-tab').show();
                });

                //menu-tab account-tab profile-btn go-back category-tab


            });



        </script>
</body>
</html>
